<search-area category="concerts"></search-area>

<event-list-item title="Title" description="Description" date="22-10-2019" location="Stadthalle" price="130"></event-list-item>
<event-list-item title="Title" description="Description" date="22-10-2019" location="Stadthalle" price="130"></event-list-item>
<event-list-item title="Title" description="Description" date="22-10-2019" location="Stadthalle" price="130"></event-list-item>
<event-list-item title="Title" description="Description" date="22-10-2019" location="Stadthalle" price="130"></event-list-item>

