<div class="jumbotron jumbotron-fluid" style="background: rgb(232, 232, 232)">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mx-auto">
        <form>
          <div class="row text-centered">
            <div class="col-md-12 text-center mx-auto">
              <h1>Search for {{category}}</h1>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Search term..." name="searchTerm" [(ngModel)]="searchTerm">
            </div>
            <div class="col-md-3">
              <input type="date" class="form-control" placeholder="" name="startDate" [(ngModel)]="startDate">
            </div>
            <div class="col-md-3">
              <input type="date" class="form-control" placeholder="" name="endDate" [(ngModel)]="endDate">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Price" name="price" [(ngModel)]="price">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Duration" name="duration" [(ngModel)]="duration">
            </div>
            <!--<div class="col-md-3">
              <select location="location" class="form-control" name="location" aria-placeholder="Location" [(ngModel)]="location">
                <option *ngFor="let l of locations" [ngValue]="l">{{l.name}}</option>
              </select>
            </div>-->
            <div class="col">
              <button type="button" (click)="getEvent(searchTerm, startDate, endDate, price, duration)" class="btn btn-primary">Search</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
