<div class="jumbotron jumbotron-fluid" style="background: rgb(232, 232, 232)">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mx-auto">
        <form>
          <div class="row text-centered">
            <div class="col-md-12 text-center mx-auto">
              <h1>Search for {{category}}</h1>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-3">
              <label for="searchTerm">Search for title or description</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" placeholder="Search term..."
                     id="searchTerm" name="searchTerm" [(ngModel)]="searchTerm">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="location">Location</label>
            </div>
            <div class="col-md-4">
              <select location="location" class="form-control"
                      id="location" name="location" aria-placeholder="Location" [(ngModel)]="location">
                <option *ngFor="let l of locations" [ngValue]="l.city">{{l.city}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="artist">Artist</label>
            </div>
            <div class="col-md-4">
              <select artist="artist" class="form-control"
                      id="artist" name="artist" aria-placeholder="artist" [(ngModel)]="artist">
            <option *ngFor="let a of artists" [ngValue]="a">{{a.firstName}} {{a.lastName}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="startDate">Event Start</label>
            </div>
            <div class="col-md-4">
              <input type="date" class="form-control" placeholder="" id="startDate" name="startDate" [(ngModel)]="startDate">
            </div>
            <div class="col-md-4">
              <input type="time" class="form-control" placeholder="" name="startTime" [(ngModel)]="startTime">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label for="endDate">Event End</label>
            </div>
            <div class="col-md-4">
              <input type="date" class="form-control" placeholder="" id="endDate" name="endDate" [(ngModel)]="endDate">
            </div>
            <div class="col-md-4">
              <input type="time" class="form-control" placeholder="" name="endTime" [(ngModel)]="endTime">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Price" name="price" [(ngModel)]="price">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Duration" name="duration" [(ngModel)]="duration">
            </div>
          </div>
          <div class="row">
            <div class="flex-md-fill">

            </div>
            <div class="col-md-3 align-content-md-center">
              <button type="button" (click)="getEvent(searchTerm, startDate, startTime, endDate, endTime, price, duration, location, artist)" class="btn btn-primary">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
