<div class="container" style="margin-top: 15pt; margin-bottom: 50pt">
    <div class="row" style="position: relative">
        <img id="image" [src]="imageSource" class="col-4 newsImage">
        <div class="col-8">
            <div class="row">
                <h3>News-Title</h3>
            </div>
            <div class="row">
                <span>Short-Description</span>
            </div>
        </div>
    </div>
    <div class="row">
        <p>Das ist die LangBeschreibung</p>
    </div>
</div>


