.newshead {
    padding-left: -15px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
}

.newshead-content {
    padding: 15px;
    display: inline-flex;
}

.newsImage {
    width: 500px;
    max-height: 500px;
    padding-right: 30px;
}

.description {
    padding-left: 30px;
    padding-top: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    //padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
