.newshead {
    padding-left: -15px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
}

.newshead-content {
    padding: 15px;
    display: inline-flex;
}

.newsImage {
    max-width: 400px;
    max-height: 400px;
    padding-right: 30px;
}

