<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Problems while creating this event!</strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="success" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Successfully created event!</strong> {{ event.title }}
  <button type="button" (click)="vanishSuccess()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formCreateEvent"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Create a new Event</h3>
        </div>

        <div class="card-body">
          <form class="form" [formGroup]="createEventForm" (ngSubmit)="createEvent()">

            <div class="form-group">
              <input type="text" name="title" formControlName="title" class="form-control" id="inputTitle"
                aria-describedby="titleHelp" placeholder="Title">
              <div *ngIf="submitted && createEventForm.controls.title.errors" class="error">
                <small class="form-text text-warning" *ngIf="createEventForm.controls.title.errors.required">Title is
                  required!
                </small>
              </div>
            </div>

            <div class="form-group">
              <select name="category" formControlName="category" class="form-control" id="category"
                placeholder="Category">
                <option value="" hidden>Category</option>
                <option value="CONCERT">CONCERT</option>
                <option value="FILM">FILM</option>
                <option value="THEATER">THEATER</option>
              </select>
            </div>

            <div class="form-group">
              <input type="text" name="shortDescription" formControlName="shortDescription" class="form-control"
                id="shortDescription" placeholder="shortDescription">
              <div *ngIf="submitted && createEventForm.controls.shortDescription.errors" class="error">
                <small class="form-text text-warning"
                  *ngIf="createEventForm.controls.shortDescription.errors.required">Description is
                  required!
                </small>
              </div>
            </div>

            <div class="form-group">
              <input type="text" name="contents" formControlName="contents" class="form-control" id="contents"
                placeholder="contents">
              <div *ngIf="submitted && createEventForm.controls.contents.errors" class="error">
                <small class="form-text text-warning"
                  *ngIf="createEventForm.controls.contents.errors.required">Description is
                  required!
                </small>
              </div>
            </div>

            <div class="form-group">
              <input type="number" name="duration" formControlName="duration" class="form-control" id="duration"
                placeholder="Duration">
              <div *ngIf="submitted && createEventForm.controls.duration.errors" class="error">
                <small class="form-text text-warning" *ngIf="createEventForm.controls.duration.errors.required">Duration
                  is
                  required!
                </small>
              </div>
            </div>

            <button type="button" (click)="addEvent()" class="btn btn-success float-right">Create Event</button>

          </form>
        </div>

      </div>


  </div>
</div>
