<div class="container" style="padding-bottom: 15px;">
    <div class="col-md-8 mx-auto event-list-item">
        <div class="row event-list-item-content">
            <div class="col-md-2">
                <img src="https://dl1.cbsistatic.com/i/r/2018/08/09/b6ca69f8-f123-408c-9b1f-ea3f9cf1fb17/resize/620xauto/8787947d1d00135d3f2ed512e56bee72/concert-crowd.jpg" width="90px" height="90px">
            </div>
            <div class="col-md-7">
                <h5>{{title}}</h5>
                <span>{{description}}</span>
                <br>
            <div *ngIf="hasPerformance" id="dateandlocation">
                <fa-icon [icon]="faCalendarDay" size="xs" style="vertical-align: middle;"></fa-icon>
                <span>{{firstPerformanceDate}}</span>
                <span> until </span>
                <span>{{lastPerformanceDate}}</span>
            </div>
            </div>

            <div class="col-md-3 text-center event-list-item-content-right">
              <!--
                <span>Tickets from</span>
                <h6 style="margin-top: 5px">{{lowestPrice}}€</h6>
              -->
                <button style="margin-top: 25px" type="button" (click)="getId(id)" class="btn btn-primary">Tickets</button>
            <div>
        </div>
    </div>
</div>
