.eventhead {
    padding-left: -15px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
}

.eventhead-content {
    padding: 15px;
    display: inline-flex;
}

.eventImage {
    max-width: 400px;
    max-height: 400px;
    padding-right: 30px;
}

.event-list-item {
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    height: 100px;
}

.seatplanItem {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    white-space: wrap;
}

.event-list-item-content {
    margin-top: 20px;
}

.event-list-item-content h5 {
    color: rgb(72, 72, 72);
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.event-list-item-content span {
    color: rgb(135, 135, 135);
}

.event-list-item-content fa-icon {
    color: rgb(135, 135, 135);
    position: relative;
    bottom: 3px;
    padding-right: 5px;
}

.event-list-item-content fa-icon:nth-of-type(2) {
    padding-left: 10px;
}




.event-list-item-content-right {
    margin-top: -5px;
}

#dateandlocation {
    margin-top: 8px;
}